/* 
Theme Name:		 Alex Van Gilder
Theme URI:		 http://childtheme-generator.com/
Description:	 Alex Van Gilder is a child theme of WP Bootstrap Starter
Author:			 Evan LaJambe
Author URI:		 http://childtheme-generator.com/
Template:		 wp-bootstrap-starter
Version:		 1.0.0
Text Domain:	 alex-van-gilder
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
        ### Frontpage
        ### Jokes
    ## Comments
# Media
	## Captions
	## Galleries
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.text-light, .text-light p, .text-light h1, .text-light .h1, .text-light h2, .text-light .h2, .text-light h3, .text-light .h3, .text-light h4, .text-light .h4, .text-light h5, .text-light .h5, .text-light h6, .text-light .h6 {
    color: #FFF !important;
}
.entry-title {
    margin-top: 1rem;
    border: none !important;
}
h1.entry-title {
    font-size: 3rem;
}
a:hover {
    text-decoration: none;
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 90%;
    }
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
    color: #000;
    border: 2px solid transparent;
}
body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover, 
body:not(.theme-preset-active) #masthead .navbar-nav > li > a,
body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a {
    color: #000;
    font-weight: 500;
}
.post-navigation .nav-previous a, .post-navigation .nav-next a {
    border: none;
    border-radius: none;
    padding: 0;
    color: #000;
    font-size: 2rem;
}
.post-navigation .nav-next a:hover,
.post-navigation .nav-previous a:hover {
    background: none;
}
@media screen and (max-width: 767px) {
    .navigation.post-navigation .nav-links {
        display: flex;
        flex-direction: column-reverse;
    }
    .comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
        float: none;
        width: 100%;
        text-align: left;
        margin-bottom: 1rem;
    }    
    .comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
        float: none;
        width: 100%;
        margin-bottom: 1rem;
    }    
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
header#masthead {
    background-color: #FFF;
    box-shadow: none;
    padding: 1.74rem 1rem;
}
.navbar-brand > a {
    color: #000;
}
.navbar-light .navbar-toggler {
    border: none;
    padding: 0;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
    font-size: 1rem;
}
@media screen and (max-width: 1199px) {
    body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
        display: inline-block;
        padding: 0.5rem 0;
        font-size: 1.5rem;
    }
    .navbar-nav > li {
        text-align: right;
    }    
}
@media screen and (max-width: 767px) {
    header#masthead {  
        padding-left: 0;
        padding-right: 0;
    }  
}
/*--------------------------------------------------------------
# Accesibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# CLearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#content.site-content {
    padding-top: 1rem;
}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Frontpage
--------------------------------------------------------------*/
#vector-collage img {
    width: 100%;
}
/*--------------------------------------------------------------
### Jokes
--------------------------------------------------------------*/
.joke-question {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.joke-answer {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.joke-answer:after {
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    pointer-events: none;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) opacity;
}
.joke-answer:hover:after {
    opacity: 0;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body:not(.theme-preset-active) footer#colophon {
    background-color: #000;
}